pre code:before {
  padding: 3px;
  border-radius: 8px;
  right: 24px;
  transform: translateY(-12px);
  position: absolute;
  color: white;
}

pre code.language-java:before {
  content: "Java";
  background-color: red;
}

pre code.language-kotlin:before {
  content: "Kotlin";
  background-image: radial-gradient(at top right, #e71625, #7b40f2);
}

pre code.language-scala:before {
  content: "Scala";
  background-color: red;
}

pre code.language-swift:before {
  content: "Swift";
  background-color: #F05138;
}

pre code.language-python:before {
  content: "Python";
  background: linear-gradient(to right bottom, #3776ab 30%, #ffd343);
}

pre code.language-javascript:before {
  content: '';
  /* background-image: url('./javascript-logo.png'); */
  height: 24px;
  width: 24px;
  background-size: 24px 24px;
}

pre code.language-typescript:before {
  content: "";
  background-image: url("https://www.typescriptlang.org/icons/icon-48x48.png?v=8944a05a8b601855de116c8a56d3b3ae");
  height: 24px;
  width: 24px;
  background-size: 24px 24px;
}

pre code.language-reasonml:before {
  content: "ReScript";
  background-color: #E6484f;
}

pre code.language-cpp:before {
  content: "C++";
  background-color: #4183c4;
}

pre code.language-go:before {
  content: "GO";
  background-color: #7fd5ea;
}

pre code.language-rust:before {
  content: "Rust";
  background-color: black;
  border: 2px dotted var(--codeblock-background-color);
}

pre code.language-bash:before {
  content: ">_ Bash";
  background-color: black;
}

pre code.language-clojure:before {
  content: "Clojure";
  background: linear-gradient(to right top, #39b54a 10%, #3452b1);
}

pre code.language-php:before {
  content: "PHP";
  background-color: #8892BF;
}

pre code.language-elixir:before {
  content: "Elixir";
  background-color: #591270;
}
