.code,
code {
  font-family: "D2Coding", monospace;
  font-size: 90%;
}

pre {
  background: var(--codeblock-background-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

pre:hover:before {
  content: "복사하려면 코드를 더블클릭!";
  position: absolute;
  right: 16px;
  transform: translateY(-32px);
  font-size: 80%;
  color: gray;
  transition: 1s;
}

blockquote {
  color: var(--main-text-color);
  margin: 0.5rem;
  padding: 3px 1rem 3px 1rem;
  position: relative;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border: 2px solid var(--muted);
  box-shadow: 8px 16px 16px -12px var(--muted-dark);
}

blockquote p {
  padding: 0;
}

.hashtag {
  font-size: 75%;
  color: var(--primary);
  margin: 0.25rem;
}

h1 {
  font-size: 2rem;
  transition: font-size 1s;
  color: var(--primary);
}

h1,
h2,
h3,
h4 {
  font-family: Pretendard, Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  line-height: 128%;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-display: swap;
  background-color: var(--main-background);
  color: var(--primary-text);
  transition: background-color 0.5s;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  body {
    font-size: 18px;
  }
}
