.code,
code {
  font-family: 'D2Coding', monospace;
  font-size: 90%;
}
.hl-lines-1 + pre code span.line:nth-child(1),
.hl-lines-2 + pre code span.line:nth-child(2),
.hl-lines-3 + pre code span.line:nth-child(3),
.hl-lines-4 + pre code span.line:nth-child(4),
.hl-lines-5 + pre code span.line:nth-child(5),
.hl-lines-6 + pre code span.line:nth-child(6),
.hl-lines-7 + pre code span.line:nth-child(7),
.hl-lines-8 + pre code span.line:nth-child(8),
.hl-lines-9 + pre code span.line:nth-child(9),
.hl-lines-10 + pre code span.line:nth-child(10),
.hl-lines-11 + pre code span.line:nth-child(11),
.hl-lines-12 + pre code span.line:nth-child(12),
.hl-lines-13 + pre code span.line:nth-child(13),
.hl-lines-14 + pre code span.line:nth-child(14),
.hl-lines-15 + pre code span.line:nth-child(15),
.hl-lines-16 + pre code span.line:nth-child(16){
  background-color: rgba(194, 198, 60, 0.213);
}

.plus-lines-1 + pre code span.line:nth-child(1),
.plus-lines-2 + pre code span.line:nth-child(2),
.plus-lines-3 + pre code span.line:nth-child(3),
.plus-lines-4 + pre code span.line:nth-child(4),
.plus-lines-5 + pre code span.line:nth-child(5),
.plus-lines-6 + pre code span.line:nth-child(6),
.plus-lines-7 + pre code span.line:nth-child(7),
.plus-lines-8 + pre code span.line:nth-child(8),
.plus-lines-9 + pre code span.line:nth-child(9),
.plus-lines-10 + pre code span.line:nth-child(10),
.plus-lines-11 + pre code span.line:nth-child(11),
.plus-lines-12 + pre code span.line:nth-child(12),
.plus-lines-13 + pre code span.line:nth-child(13),
.plus-lines-14 + pre code span.line:nth-child(14),
.plus-lines-15 + pre code span.line:nth-child(15),
.plus-lines-16 + pre code span.line:nth-child(16){
  background-color: rgba(46,160,67,0.15);
}
.plus-lines-1 + pre code span.line:nth-child(1):before,
.plus-lines-2 + pre code span.line:nth-child(2):before,
.plus-lines-3 + pre code span.line:nth-child(3):before,
.plus-lines-4 + pre code span.line:nth-child(4):before,
.plus-lines-5 + pre code span.line:nth-child(5):before,
.plus-lines-6 + pre code span.line:nth-child(6):before,
.plus-lines-7 + pre code span.line:nth-child(7):before,
.plus-lines-8 + pre code span.line:nth-child(8):before,
.plus-lines-9 + pre code span.line:nth-child(9):before,
.plus-lines-10 + pre code span.line:nth-child(10):before,
.plus-lines-11 + pre code span.line:nth-child(11):before,
.plus-lines-12 + pre code span.line:nth-child(12):before,
.plus-lines-13 + pre code span.line:nth-child(13):before,
.plus-lines-14 + pre code span.line:nth-child(14):before,
.plus-lines-15 + pre code span.line:nth-child(15):before,
.plus-lines-16 + pre code span.line:nth-child(16):before{
  content: '+';
  color: green;
}


pre {
  background: var(--codeblock-background-color);
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  tab-size: 2;
}

pre:hover:before {
  content: '복사하려면 코드를 더블클릭!';
  position: absolute;
  right: 16px;
  transform: translateY(-32px);
  font-size: 80%;
  color: gray;
  transition: 1s;
}

blockquote {
  color: var(--main-text-color);
  margin: 0.5rem;
  padding: 3px 1rem 3px 1rem;
  position: relative;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border: 2px solid var(--muted);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

blockquote p {
  padding: 0;
}

.hashtag {
  font-size: 75%;
  color: var(--primary);
  margin: 0.25rem 0.125rem;
  border: 1px solid var(--primary-border);
  padding: 0.125rem 0.5rem;
  border-radius: 1rem;
  line-height: 150%;
  transition: 0.25s all;
}

h1 {
  font-size: 2rem;
  transition: font-size 1s;
  color: var(--primary);
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
  line-height: 128%;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: Pretendard, 'Noto Sans KR' -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-display: swap;
  background-color: var(--main-background);
  color: var(--primary-text);
  transition: background-color 0.5s;
  word-break: keep-all;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  body {
    font-size: 18px;
  }
}

:not(pre)>code {
  background: var(--blockquote-bg);
  border-radius: 0.3em;
  color: var(--primary);
  padding: 0.1em 0.3em;
}

.admonition {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-left: 4px solid var(--primary);
  border-radius: 0.25rem;
}

.admonition-title {
  border-radius: 0.25rem;
  background-color: var(--primary-border);
}

.admonition p {
  padding: 0.5rem;
}

.admonition ul {
  padding: 0 1rem 1rem 2rem;
}